# ==========================================
# FIXES (IMPORTANT)
# ==========================================

# Flutter build (redundant safety)
build/
**/build/

# Android intermediates (VERY IMPORTANT)
**/android/app/build/
**/android/build/
**/android/.cxx/

# Gradle cache
.gradle/

# Long path / transform folders causing errors
**/.transforms/
**/intermediates/

# APK / outputs
**/outputs/
*.apk
*.aab