
# Flutter build 
build/
**/build/

node_modules/
.dart_tool/
.idea/


# Android intermediates
**/android/app/build/
**/android/build/
**/android/.cxx/

# Gradle cache
.gradle/

# Long path / transform folders causing errors
**/.transforms/
**/intermediates/

# APK / outputs
**/outputs/
*.apk
*.aab